*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.invis-scroll::-webkit-scrollbar{
    display: none;
}

button:hover{
    transition: 0.3s ease-in-out;
    transform: scale(0.95);
}

.AppBody {
    min-height: 100vh;
    height: fit-content;
    background-color: rgb(98, 173, 239);
    padding-top: 80px;
    padding-bottom: 0;
}

.MainPage {
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    column-gap: 20px;
    padding-right: 10px;
    min-height: 100vh;
    max-width: 100vw;
}


@media(max-width:1400px) {
    .MainPage {
    grid-template-columns: 55vw 1fr;
    padding-left: 20px;
    }
}



@media(max-width: 980px) {
    .MainPage {
        grid-template-columns: 1fr;
        align-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        column-gap: 0;
        align-self: center;
    }

}