*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AppBody {
    min-height: 100vw;
    height: fit-content;
    background-color: rgb(98, 173, 239);
    padding-top: 90px;
    padding-bottom: 0;
}

.MainPage {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 40px;
    padding-right: 10px;
    min-height: 100vh;
    max-width: 90vw;
}

.LeftColumn{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-left: 10px;
}

@media(max-width:930px) {
    .MainPage {
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    }
}

@media(max-width: 500px) {
    .MainPage {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0;
        column-gap: 0;
    }

    .stories {
        max-width: 100%;
    }
}