
.LeftColumn{
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin-left: 10px;
}

.List-head {
    font-weight: 600;
    color: gray;
}

.list-item {
    border-radius: 10px;
}

.list-item:hover {
    background-color: gainsboro;
    transition: 0.3s ease-in-out
}