
.stories {
    width: 100%;
    max-width: 90vw;
    overflow: hidden;
    height: fit-content;
    padding: 15px;
    padding-bottom: 0px;
}

.story-head {
    margin-bottom: 0px;
    margin-left: 20px;
}

.caret-down{
    transition: 0.3s ease-in-out;
}



.story-pfp {
    position: relative;
    border: 3px solid blue;
    bottom: 165px;
    left: 45px;
}

.story-bg {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.add-post-btn {
    padding: 3px 8px;
    position: relative;
    left: 10px;
    bottom: 45px;
    border-radius: 60px;
}

.story {
    height: 140px;
    width: 130px;
    border-radius: 20px;
    margin-right: 40px;
    background-color: gray;
    display: block;
    justify-content: center;
}

.story-wrapper {
    display: flex;
    height: 180px;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0px;
    
}
.scrollable-div-wrapper {
    display: flex;
    height: 220px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    margin: 0px -20px;
}

.scrollable-div {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    padding-bottom: 0px;
}

.scroller {
    border-radius: 30px;
    z-index: 1;
}

.scroller i:hover {
    color: white;
}

#scrollable::-webkit-scrollbar{
    display: none;
}

.post-textbox{
    min-height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}

.post{
    background-color: rgb(225, 225, 225);
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 20px;
    margin-bottom: 10px;
}


@media(max-width: 600px) {
    .only-desk{
        display: none;
    }
}

@media(max-width: 800px) {
    .stories{
        max-width: 100%;
    }
}