.column{
    background-color: white;
    height: 100vh;
    width: 100%;
}

.rc-card{
    margin-bottom: 30px;
    background-color: white;
    height: fit-content;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

.card-1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue {
    color: rgb(16, 56, 174);
}

.date-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    box-shadow: 0px 0px 5px 1px gray;
    width:  60px;
    height: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
}

.month{
    font-size: clamp(15px, 1vw,25px);
    font-weight: 500;
    color: rgb(0, 115, 255);
    display: block;
    margin: 0;
    padding: 0;

}

.date{
    font-size: clamp(20px,1.5vw, 28px);
    font-weight: 700;
    color: black;
    display: block;
    margin: 0;
    padding: 0;
}


.interested{
    display: block;
    margin: 0 auto;
    background-color: rgb(32, 32, 164);
    color: white;
    padding: 10px 30px;
    border: none;
}

.fa-arrow-right{
    transform:translateX(0);
    transition: 0.3s ease-in-out;
}
.fa-arrow-right:hover{
    transform: translateX(5px);
}